:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

* {
  /*eliminamos los estilos por default del navegador*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  padding: var(--spacing);
  background-color: var(--base);
  filter: blur(var(--blur));
}

.h1 {
  color: var(--base);
}
